--2013-10-02 15:29:10--  https://raw.github.com/github/gitignore/master/Python.gitignore
Resolving raw.github.com (raw.github.com)... 185.31.19.133
Connecting to raw.github.com (raw.github.com)|185.31.19.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 315 [text/plain]
Saving to: `Python.gitignore'

     0K                                                       100% 3.86M=0s

2013-10-02 15:29:12 (3.86 MB/s) - `Python.gitignore' saved [315/315]

